        <div id="main" class="marginAuto">
            <h3>Signup</h3>
                <div id="sign-container">
                    
                    <form action="" method="post" class="well">
                    
                        <input type="text" name="username" value="Username" title="Username" class="clearInput username" />
                        	<span data-bind="text: error_username"></span>
                        <input type="text" name="email" value="Email adress" title="Email adress" class="clearInput email"/>
                        	<span data-bind="text: error_email"></span>
                        <input type="password" name="password" value="adversify" title="adversify" class="clearInput password"/>
                        	<span data-bind="text: error_password"></span>
                        <input type="password" name="password_again" value="adversify" title="adversify" class="clearInput password_again"/>
                        	<span data-bind="text: error_password_again"></span>
                        <select name="kind" title="adversify" class="kind">
                            <option value="">Pay or get paid?</option>
                            <option value="publisher">Publisher</option>
                            <option value="advertiser">Advertiser</option>
                        </select>
                        	<span data-bind="text: error_kind"></span>
                        <button type="submit" class="btn-primary">Sign Up</button>
                    </form>
                    <p class="error" id="insertError">
                    </p>
                </div>
            </div>
            <!--script>
                $("#sign-container form").submit(function(event) {
                    event.preventDefault();
                    alert("event prevented");
                });
            </script-->
     <script type="text/javascript" src="/js/modules/signup.js"></script>