        <div id="main" class="marginAuto">
            <h3>Ad {versify} est en cours de réalisation.</h3>
            <h1>Inscription</h1>
            <div id="signup-forms" class="textCenter">
            	
                <h2>Sign Up</h2>
                <div id="publisher-advertising-form">
                    <p>
	                    Texte 1
                    </p>
                    <form action="" method="post">
                        <input type="text" name="username" value="Username" title="Username" class="clearInput username"/>
                        <input type="email" name="email" value="Email adress" title="Email adress" class="clearInput email"/>
                        <input type="password" name="password" value="" title="adversify" class="clearInput password"/>
                        <input type="password" name="password_again" value="" title="adversify" class="clearInput password_again"/>
                        <select name="kind" title="adversify" class="clearInput kind">
                            <option value="">Pay or get paid?</option>
                            <option value="publisher">Publisher</option>
                            <option value="advertiser">Advertiser</option>
                        </select>
                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
     </div>