        <div id="main" class="marginAuto">
            <h3>Login to your Advertiser account.</h3>
                <div id="sign-container">
                    <p>
                        Texte 1
                    </p>
                    <form action="/advertiser/signin" method="post" class="well">
                    
                        <input type="text" name="username" value="Username" title="Username" class="username clearInput" />

                        <input type="password" name="password" value="Password" title="Password" class="password clearInput" />
                            <span data-bind="text: error_login"></span>
                        <label for="remember-me">Remember me</label>   
                        <input name="remember-me" id="remember-me" type="checkbox" checked value="on"/>
                        <button type="submit" class="btn-primary">Sign In</button>
                    </form>
                </div>
            </div>
    