        <div id="main" class="marginAuto">
            <h3>Ad {versify} est en cours de réalisation.</h3>
            <h1>Sign In</h1>
            <div id="signup-forms" class="textCenter">
                
                <h2>Sign In Publisher</h2>
                <div id="sign-container">
                    <p>
                        Texte 1
                    </p>
                    <form action="/publisher/signin" method="post" class="well">
                    
                        <input type="text" name="username" value="Username" title="Username" class="username clearInput" />

                        <input type="password" name="password" value="Password" title="Password" class="password clearInput" />
                            <span data-bind="text: error_login"></span>
                        <button type="submit" class="btn-primary">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
     </div>
    