        <script type="text/javascript" src="/js/modules/publisher-default.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
         <script type="text/javascript">
          // On se connecte au serveur
        $.get("/socket");
        var socket = io.connect("/<%= locals.uid %>");
        socket.on('getValue', function (value) {
            var balance = value;
            $(".balance").html(balance+'€');
        });

        </script>
        <div id="main" class="marginAuto">
            <div id="settings-nav" class="menu-container floatLeft">
                <ul class="menu">
                    <li><a href="/publisher/default" class="selected">Home</a></li>
                    <li><a href="/publisher/profile" class="">Account settings</a></li>
                    <li><a href="/publisher/websites/default" class="">Websites</a></li>
                    <li><a href="/publisher/zones/default" class="">Zones</a></li>
                    <li><a href="/publishers/profile" class="">Revenue</a></li>
                    <li><a href="/publishers/profile" class="">Payments History</a></li>
                    <li><a href="/publisher/security" class="">Security History</a></li>
                </ul>
            </div>
            <div id="content">
            <div id="signup-forms" class="textCenter">
                <p id="revenue-overview">
                    <span class="balance"></span>
                </p>
                <div class="sites-overview">
                    <ul class="websites-shortlist" data-bind="foreach: websites">
                        <li class="classWebSite" data-bind="attr: {id: webSiteNiceID}">
                            <strong data-bind="text: wbname"></strong>
                            <em data-bind="text: wburl"></em>
                            <span class="shortlist-actions">
                                <a href="#" class="addZone" data-bind="attr: {id : webSiteNiceID}" >Add a zone</a>
                                <a href="#" class="editWebsite" >Edit Website</a>
                                <a href="#" class="deleteWebsite" data-bind="attr: {id: webSiteNiceID}">Delete Website</a>
                            </span>
                                <ul class="zones-shortlist" data-bind="foreach: zones">
                                    <li class="classZone" data-bind="attr: {id: zoneNiceID}">
                                        <strong data-bind="text: zonename">Zone Error</strong>
                                        <em data-bind="text: zoneformat">Format Error</em>
                                        <span class="shortlist-actions">
                                            <a href="#" class="editZone" id="1">Edit Zone</a>
                                            <a href="#" class="deleteZone" data-bind="attr: {id: zoneNiceID}">Delete Zone</a>
                                        </span>
                                    </li>
                                </ul>
                        </li>
                    </ul>

                        <h2>Add a website</h2>
                        <form method="POST" action="/publisher/sites" class="well" id="addWebSiteForm">
                        		<span data-bind="text: error_webSiteName"></span>
                            <input type="text" class="sitename clearInput" name="sitename" title="Site Name" value="Site Name"/><br/>
                            	<span data-bind="text: error_webSiteURL"></span>
                            <input type="text" class="siteurl clearInput" name="siteurl" title="Site URL" value="http://www.facebook.com"/><br/>
                            <select class="sitecategory">
                                <option value="">Site Main Category</option>
                                <option value="1">News & Informations</option>
                                <option value="2">Communities</option>
                                <option value="3">Economy & Finances</option>
                                <option value="4">Jobs & Trainning</option>
                                <option value="5">Computer science</option>
                                <option value="6">Games</option>
                                <option value="7">Health</option>
                                <option value="8">Entertainment</option>
                                <option value="9">Technology</option>
                                <option value="10">Shopping & Consumerism</option>
                                <option value="11">Travel</option>
                                <option value="12">Sports</option>
                            </select>
                            	<span data-bind="text: error_webSiteCategory"></span>
                            <label for="sitedescription">Enter a description for this website.</label>
                            <textarea class="clearInput sitedescription" rows="4" cols="30" name="sitedescription" id="sitedescription">Desciption de votre site</textarea><br/>
                            <button type="submit" class="btn-primary">Add this website</button>
                        </form>
                    </div>
                    <h4>Put this code snippet just after the BODY tag of each of your website pages.</h4>
                    <p class="publisherCode" style="background:#fff;border:1px solid black; width:400px;height:200px;overflow:auto;margin:0 auto;">
                        &lt;script type=&quot;text/javascript&quot;&gt;  var _adv = _adv || []; _adv.push(['_setAccount', '50f359e75b48db0c10000006']);  _adv.push(['_setWebsite', '50f35a285b48db0c10000007']);<br/>  _adv.push(['codeName', navigator.appCodeName]);<br/>  _adv.push(['r', Math.floor(Math.random()*99999999999)]); (function() {   var av = document.createElement('script'); av.type = 'text/javascript'; av.async = true;<br/>    av.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.adversify.net/ad/'+_adv[0][1]+'/'+_adv[1][1]+'/'+_adv[3][1]+'/init.js';   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(av, s);  })();&lt;/script&gt;
                    </p>
                    <div class="zones-overview" style="display:none">
                        <h2>Create a zone</h2>
                        <form method="POST" action="/publisher/ads" class="well" id="addZoneForm">
                            <input type="text" class="zonename clearInput" name="zonename" title="Zone Name" value="Zone Name"/>

                            	<span data-bind="text: error_zoneName"></span>
                                <br/>
                            <input type="hidden" value="http://www.citations.co/" />
                            <select class="zoneremuneration" name="zoneremuneration">
                                <option value="">CPC or CPM?</option>
                                <option value="cpc">CPC</option>
                                <option value="cpm">CPM</option>
                                <option value="*">Nevermind</option>
                            </select>
                            	<span data-bind="text: error_zoneMode"></span><br/>
                            <select class="zoneformat" name="zoneformat">
                                <option value="">Image or Textual?</option>
                                <option value="image">Image</option>
                                <option value="text">Textual</option>
                            </select><br/>
                            <select class="zonedimensions" name="zonedimensions">
                                <option value="">How big?</option>
                                <option value="300x233">300x233</option>
                                <option value="234x60">234x60</option>
                                <option value="125x125">125x125</option>
                                <option value="180x150">180x150</option>
                                <option value="120x130">120x230</option>
                                <option value="200x200">200x200</option>
                                <option value="233x233">233x233</option>
                            </select>
                            	<span data-bind="text: error_zoneKind"></span><br/>
                            <label for="zonedescription">Enter a description for this Ad.</label><br/>
                            <textarea rows="4" cols="30" name="zonedescription" id="zonedescription"></textarea><br/>
                            	<span data-bind="text: error_zoneDescription"></span>
                            <select class="webSiteUrlForZone" name="websiteurl" data-bind="foreach: websites">
                                <option data-bind="text: wburl, value: wburl">
                            </select><br/>

                            <button type="submit" class="btn-primary">Create this zone</button>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        <!--</div>-->
     <!--</div>-->

