        <script type="text/javascript" src="/js/modules/publisher-default.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
         <script type="text/javascript">
          // On se connecte au serveur
        $.get("/socket");
        var socket = io.connect("/<%= locals.uid %>");
        socket.on('getValue', function (value) {
            var balance = value;
            $(".balance").html(balance/100+'€');
        });

        </script>
        <div id="main" class="marginAuto">
            <div id="settings-nav" class="menu-container floatLeft">
                <ul class="menu">
                    <li><a href="/publisher/default" class="selected">Default Panel</a></li>
                    <li><a href="/publisher/profile" class="">Account settings</a></li>
                    <li><a href="/publishers/profile" class="">Websites</a></li>
                    <li><a href="/publishers/profile" class="">Zones</a></li>
                    <li><a href="/publishers/profile" class="">Revenue</a></li>
                    <li><a href="/publishers/profile" class="">Payments History</a></li>
                    <li><a href="/publishers/profile" class="">Security History</a></li>
                </ul>
            </div>
            <div id="content">
            <h1>Publisher default panel</h1>
            <div id="signup-forms" class="textCenter">
                <p id="revenue-overview">
                    <span class="balance"></span>
                </p>
                <div class="sites-overview">
                    <ul data-bind="foreach: websites">
                        <li class="classWebSite" data-bind="attr: {id: webSiteNiceID}">
                            <strong data-bind="text: wbname"></strong>
                            <a data-bind="text: wburl"></a>
                            <a href="#" class="addZone" >Add a zone</a>
                            <a href="#" class="editWebsite" >Edit Website</a>
                            <a href="#" class="deleteWebsite" data-bind="attr: {id: webSiteNiceID}">Delete Website</a>
                                <ul data-bind="foreach: zones">
                                    <li class="classZone" data-bind="attr: {id: zoneNiceID}">
                                        <strong data-bind="text: zonename">Zone Error</strong>
                                        <strong data-bind="text: zoneformat">Format Error</strong>
                                        <a href="#" class="editZone" id="1">Edit Zone</a>
                                        <a href="#" class="deleteZone" data-bind="attr: {id: zoneNiceID}">Delete Zone</a>
                                    </li>
                                </ul>
                        </li>
                    </ul>


						
                        <h2>Ajouter un site</h2>
                        <form method="POST" action="/publisher/sites" class="well" id="addWebSiteForm">
                        		<span data-bind="text: error_webSiteName"></span>
                            <input type="text" class="sitename clearInput" name="sitename" title="Site Name" value="Site Name"/>
                            	<span data-bind="text: error_webSiteURL"></span>
                            <input type="text" class="siteurl clearInput" name="siteurl" title="Site URL" value="http://www.facebook.com"/>
                            <select class="sitecategory">
                                <option value="">Site Main Category</option>
                                <option value="1">News & Informations</option>
                                <option value="2">Communities</option>
                                <option value="3">Economy & Finances</option>
                                <option value="4">Jobs & Trainning</option>
                                <option value="5">Computer science</option>
                                <option value="6">Games</option>
                                <option value="7">Health</option>
                                <option value="8">Entertainment</option>
                                <option value="9">Technology</option>
                                <option value="10">Shopping & Consumerism</option>
                                <option value="11">Travel</option>
                                <option value="12">Sports</option>
                            </select>
                            	<span data-bind="text: error_webSiteCategory"></span>
                            <label for="sitedescription">Enter a description for this website.</label>
                            <textarea class="clearInput sitedescription" rows="4" cols="30" name="sitedescription" id="sitedescription">Desciption de votre site</textarea>
                            <button type="submit" class="btn-primary">Add this website</button>
                        </form>
                    </div>
                    <div class="zones-overview">
                        <h2>Create an zone</h2>
                        <form method="POST" action="/publisher/ads" class="well" id="addZoneForm">
                            <input type="text" class="zonename clearInput" name="zonename" title="Zone Name" value="Zone Name"/>
                            	<span data-bind="text: error_zoneName"></span>
                            <input type="hidden" value="http://www.citations.co/" />
                            <select class="zoneremuneration" name="zoneremuneration">
                                <option value="">CPC or CPM?</option>
                                <option value="cpc">CPC</option>
                                <option value="cpm">CPM</option>
                                <option value="cpm">Nevermind</option>
                            </select>
                            	<span data-bind="text: error_zoneMode"></span>
                            <select class="zoneformat" name="zoneformat">
                                <option value="">Image or Textual?</option>
                                <option value="image">Image</option>
                                <option value="text">Textual</option>
                            </select>
                            	<span data-bind="text: error_zoneKind"></span>
                            <label for="zonedescription">Enter a description for this Ad.</label>
                            <textarea rows="4" cols="30" name="zonedescription" id="zonedescription"></textarea>
                            	<span data-bind="text: error_zoneDescription"></span>
                            <select class="webSiteUrl" name="websiteurl" data-bind="foreach: websites">
                                <option data-bind="text: wburl, value: wburl">
                            </select>
                            <button type="submit" class="btn-primary">Create an zone</button>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        <!--</div>-->
     <!--</div>-->
     
