        <% var actions = locals.actions; %>
        <div id="main" class="marginAuto">
            <div id="settings-nav" class="menu-container floatLeft">
                <ul class="menu">
                    <li><a href="/publisher/default" class="selected">Default Panel</a></li>
                    <li><a href="/publisher/profile" class="">Account settings</a></li>
                    <li><a href="/publisher/websites/default" class="">Websites</a></li>
                    <li><a href="/publishers/zones/default" class="">Zones</a></li>
                    <li><a href="/publishers/profile" class="">Revenue</a></li>
                    <li><a href="/publishers/profile" class="">Payments History</a></li>
                    <li><a href="/publisher/security" class="">Security History</a></li>
                </ul>
            </div>
            <div id="content">
                <h1>Security History</h1>
                <div id="signup-forms">
                <div id="websites-overview">
                <ul>
<% _.each( actions, function( action ){ %>
 
<li class="website">
 <strong>
<%- action %>
</strong>
 
</li>
 
<% }); %>
</ul>
                </div>
                </div>
            </div>
        <!--</div>-->
     <!--</div>-->
     
