        <div id="main" class="marginAuto">
            <h3>Ad {versify} est en cours de réalisation.</h3>
            <h1>Inscription</h1>
            <div id="signup-forms" class="textCenter">
                
                <h2>Sign Up</h2>
                <div id="publisher-advertising-form">
                    <p>
                        Texte 1
                    </p>
                    <form action="" method="post">
                        <fieldset>  
                            <legend>Additional infos</legend>  
                                <input type="text" name="street-adress" value="Street Adress" class="street-adress clearInput" />  
                                <input type="text" name="street-adress" value="City" class="city clearInput" class="street-adress clearInput" />  
                                <input type="text" name="street-adress" value="Postal Code" class="postal-code clearInput" />  
                                <select name="country">
                                    <option value="">Country...</option>
                                    <option value="FR">France</option>
                            </select>
                        </fieldset>  
                        <input type="submit" value="Submit Envoyer" />
                    </form>
                </div>
            </div>
        </div>
     </div>

    