        <div id="main" class="marginAuto">
            <h3>Ad {versify} est en cours de réalisation.</h3>
            <h1>Inscription</h1>
            <div id="signup-forms" class="textCenter">
                
                <h2>Sign Up STEP 2</h2>
                <div id="sign-container">
                    <p>
                        Texte 1
                    </p>
                    <form action="" method="post" class="well">
                                <input type="text" name="streetadress" value="Street Adress" class="streetadress clearInput" />  
                                <input type="text" name="city" value="City" class="city clearInput" class="city clearInput" />  
                                <input type="text" name="postalcode" value="Postal Code" class="postalcode clearInput" />  
                                <select name="country" class="country">
                                    <option value="">Country...</option>
                                    <option value="FR">France</option>
                            </select> 
                        <button type="submit" class="btn-primary">Continue</button>
                    </form>
                </div>
            </div>
        </div>
     </div>

    