     <div id="wrapper">
        <header class="header">
            <nav>
                <a href="index.html" title="Ad{Versify}" id="logo"><img src='/images/logo.png' alt='Adversify'</a>              
                <a href="#" title="Inscription">Inscription</a>
                <a href="#" title="Connexion">Connexion</a>
            </nav>
        </header>
        <div id="main" class="marginAuto">
            <h3>Ad {versify} Step 2</h3>
            <h1>Inscription</h1>
            <div id="signup-forms" class="textCenter">
                <h2>Signup : Step 2 of 3</h2>
                <div id="publisher-signup-form">
                    <p>
	                    Text 3
                    </p>
                    <form action="" method="post">
                        <input type="text" name="adress" value="Adress" title="Adress" class="clearInput"/>
                        <input type="text" name="email" value="Email adress" title="Email adress" class="clearInput"/>
                        <input type="password" name="password" value="adversify" title="adversify" class="clearInput"/>
                        <input type="password" name="password_again" value="adversify" title="adversify" class="clearInput"/>
                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
     </div>

    <!-- Libraries, order counts! -->
    <script type="text/javascript" js="/js/libs/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" js="/js/libs/underscore-min.js"></script>
    <script type="text/javascript" js="/js/libs/backbone-min.js"></script>
    <script type="text/javascript" js="/js/libs/backbone-localstorage.js"></script>
    <script type="text/javascript" js="/js/libs/knockout-2.2.0.js"></script>
    <script type="text/javascript" js="/js/libs/knockback.min.js"></script>

    <!-- Our Backbone.js App startpoint -->
    <script type="text/javascript" js="/js/app.js"></script>

    <!-- App modules, order does not count -->
    <script type="text/javascript" js="/js/modules/router.js"></script>
    <script type="text/javascript" js="/js/modules/views.js"></script>
    <script type="text/javascript" js="/js/modules/models.js"></script>

    <!-- MISC -->
    <script type="text/javascript" js="/js/behavior.js"></script>
