        <% var websites = locals.websites;  %>
        <div id="main" class="marginAuto">
            <div id="settings-nav" class="menu-container floatLeft">
                <ul class="menu">
                    <li><a href="/publisher/default">Default Panel</a></li>
                    <li><a href="/publisher/profile" class="">Account settings</a></li>
                    <li><a href="/publisher/websites/default" class="selected">Websites</a></li>
                    <li><a href="/publisher/zones/default" class="">Zones</a></li>
                    <li><a href="/publishers/profile" class="">Revenue</a></li>
                    <li><a href="/publishers/profile" class="">Payments History</a></li>
                    <li><a href="/publisher/security" class="">Security History</a></li>
                </ul>
            </div>
            <div id="content">
                <h1>Websites overview</h1>
                <div id="signup-forms">
                <div id="websites-overview">
                <% if(websites.length != 0) { %>
                <ul>
					<% _.each( websites, function( website ){ %>
					 
						<li class="website">
							<strong> <%- website.name %> </strong>
							<a> <%- website.url %> </a>
							<label> Description :   <%- website.description %>  </span></label>
							<label> Created :   <span class="date"> <%- website.created %> </span>  </label>
							<label> Modified :  <span class="date"> <%- website.modified %> </span> </label>
							<% if(website.validated) {  %>
								<span class="success">This website has been validated on <span class="date"> <%- website.validatedOn %> </span>.</span>
							<% } else { %>
								<span class="error">This website has not been validated yet.</span>
							<% } %>
						</li>		
						<!--<strong> <%- website %> </strong>-->
					
					<% }); %>
				</ul> <% } else { %>
				<p class="error">You do not have any websites yet.</p>
			<% } %>
                </div>
                </div>
            </div>
            <script type="text/javascript" src="/js/libs/moment.min.js"></script>
            <script type="text/javascript">
            var momentDate;
            	$(".date").each(function() {
            		momentDate = moment($(this).text()).format("dddd, MMMM Do YYYY, h:mm:ss a");
            		$(this).fadeIn('fast', function() {
            			$(this).html(momentDate);
            		});
            	});
            </script>
        <!--</div>-->
     <!--</div>-->
     
