        <% var websites = locals.websites; %>
        <div id="main" class="marginAuto">
            <div id="settings-nav" class="menu-container floatLeft">
                <ul class="menu">
                    <li><a href="/publisher/default" class="selected">Default Panel</a></li>
                    <li><a href="/publisher/profile" class="">Account settings</a></li>
                    <li><a href="/publisher/websites/default" class="">Websites</a></li>
                    <li><a href="/publisher/zones/default" class="">Zones</a></li>
                    <li><a href="/publishers/profile" class="">Revenue</a></li>
                    <li><a href="/publishers/profile" class="">Payments History</a></li>
                    <li><a href="/publisher/security" class="">Security History</a></li>
                </ul>
            </div>
            <div id="content">
                <h1>Websites overview</h1>
                <div id="signup-forms">
                <div id="websites-overview">
                <ul>
					<% _.each( websites, function( website ){ %>
					 
						<li class="website">
							<strong> <%- website.name %> </strong>
							<a> <%- website.url %> </a>
							<label> Description : <text> <%- website.description %> </text> </label>
							<label> Created :  <text> <%- website.created %> </text> </label>
							<label> Modified :  <text> <%- website.modified %> </text> </label>
							<label> Validated :  <strong> <%- website.validated %> </strong> </label>
						</li>
						
						<strong> Zones : </strong>
						
						<% _.each( website.zones, function( zone ){ %>
						 
							<li class="zones">
								<strong> - </strong>
								<strong> <%- zone.name %> </strong>
								<label> Description :  <text> <%- zone.description %> </text> </label>
								<label> Impression Count :  <text> <%- zone.impressionCount %> </text> </label>
								<label> Created :  <text> <%- zone.created %> </text> </label>
								<label> Modified :  <text> <%- zone.modified %> </text> </label>
								<label> Validated :  <strong> <%- zone.validated %> </strong> </label>
								
								<!--<strong> <%- zone %> </strong>-->
							</li>
						
						<% }); %>
						
						<!--<strong> <%- website %> </strong>-->
					
					<% }); %>
				</ul>
                </div>
                </div>
            </div>
        <!--</div>-->
     <!--</div>-->
     
