        <% var zones = locals.zones; %>
        <div id="main" class="marginAuto">
            <div id="settings-nav" class="menu-container floatLeft">
                <ul class="menu">
                    <li><a href="/publisher/default">Default Panel</a></li>
                    <li><a href="/publisher/profile" class="">Account settings</a></li>
                    <li><a href="/publisher/websites/default" class="">Websites</a></li>
                    <li><a href="/publishers/zones/default" class="selected">Zones</a></li>
                    <li><a href="/publishers/profile" class="">Revenue</a></li>
                    <li><a href="/publishers/profile" class="">Payments History</a></li>
                    <li><a href="/publishers/profile" class="">Security History</a></li>
                </ul>
            </div>
            <div id="content">
                <div id="zones">
                    <% console.log(zones);
                    if(zones.length != 0) { %>
	                <ul>
						<% _.each( zones, function( website ){ %>
						 
							<li class="zone">
							
							<strong> <%- zone.name %> </strong>
							<label> Description :  <a> <%- zone.description %> </a> </label>
							<label> Impression Count :  <a> <%- zone.impressionCount %> </a> </label>
							<label> Created :  <a> <%- zone.created %> </a> </label>
							<label> Modified :  <a> <%- zone.modified %> </a> </label>
							<label> Validated :  <a> <%- zone.validated %> </a> </label>
							 
							</li>
						 
						<% }); %>
					</ul>
                    <% } else { %>
                    <p class="error">Yo do not have any zones yet.</p>
                    <% } %>
                </div>
            </div>
     
