body
{
	background: url("/images/bg-gradient-sand.png") repeat-x scroll 0px 0px, url("/images/bg-sand.png") repeat scroll 0px 0px, none repeat scroll 0% 0% rgb(245, 241, 232);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
	color: rgb(51, 51, 51);
    margin: 0;
    padding:0;
}

a img
{
	border: none;
}

.header
{
	height: 52px;
	background-color: transparent;
	background-image:url(/images/head.png);
	text-align: center;
	position: relative;
	border-bottom: 1px solid #010101;
	-webkit-box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 1px 40px rgba(0,0,0,0.4);
	box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.4);
}


.header nav a
{
	border-left:1px solid white;
	border-right:1px solid white;
	float:right;
	height:52px;
	display: inline-block;
	line-height: 52px;
	padding: 0 15px;
	font-weight: bold;
	font-size: 14px;
	border-left: 1px solid rgba(255, 255, 255, 0.05);
	border-right: 1px solid rgba(0, 0, 0, 0.4);
	color: #fff;
	text-decoration: none;
	text-shadow: 0px -1px 0px black;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;

}

.header nav {
  margin-left:20px;
}

.header nav a:hover
{
	border-bottom:3px solid rgb(0,144,219);
}

#logo
{
	float: left;
	border:none;
}


#main
{
	width:980px;
}

.marginAuto
{
	margin: auto;
}


ul, ul li
{
	list-style-type: none;
}

a
{
	color:rgb(0,150,221);
}


h1,h2,h3,h4
{
	text-shadow:0px 1px 0px rgba(255, 255, 255, 0.75);
	color:rgb(72,72,72);
	text-align: center;
}

h3
{
	font-size:28px;
	letter-spacing: -0.5px;
}

.billboard
{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top:20px;
    box-shadow: 0px 0px 0px 1px rgb(255, 255, 255) inset;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-bottom: 1px solid rgb(221, 221, 221);
}

.textCenter
{
	text-align: center;
}

.well
{
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#sign-container
{
	width:340px;
	margin: 160px auto;
}

#sign-container input
{
	width:290px;
}

input, textarea {
    display: inline-block;
    width: 210px;
    height: 18px;
    padding: 4px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

select {
	display: inline-block;
	border: 1px solid rgb(204, 204, 204);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

input:focus, textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}


hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

label {
  display:block;
}

#settings-nav {
  width:220px;
}

.menu-container {
  float:left;
  width:200px;
  padding:3px;
  background: none repeat scroll 0% 0% rgb(239, 239, 239);
  border-radius: 2px 2px 2px 2px;
}

.menu {
  border-radius: 2px 2px 2px 2px;
  border:1px solid rgb(216,216,216);
  background: #fff;
}

.menu li {
    border-bottom: 1px solid rgb(238, 238, 238);
    border-top: 1px solid rgb(255, 255, 255);
}


.menu a {
  display:block;
  padding:8px 10px 8px 10px;
  text-shadow:0px 1px 0px rgb(255,255,255);
  color:rgb(65,131,196);
}

.menu a.selected {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-left: 2px solid rgb(210, 105, 17);
    font-weight: bold;
    color: rgb(34, 34, 34);
    cursor: default;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
}


#signup-forms {
  width:650px;
  float:right;
}

#revenue-overview {
  color:rgb(0,150,221);
  font-size:1.5em;
}